.confirm-delete {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: #eee;
    border: none;
    border-radius: 999px;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

.confirm-delete:focus {
    background: #fdd;
}

.trash-icon {
    font-weight: bold;
    font-size: 1rem;
    color: red;
}

.confirm-label {
    opacity: 1;
    transform: scale(0.95);
    transition: all 0.3s ease;
    white-space: nowrap;

}

.hidden {
    display: none;
}